body {
  background-color: #f3f3f3;
  position: relative;
  width: 100vw;
  height: 100vh;
}
body .btn {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
}
body .left {
  left: 5%;
}
body .right {
  right: 5%;
}
body .con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
body .con .container {
  background-color: #ffffff;
  border-radius: 30px;
  width: 70%;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0 15px 15px 0 rgba(15, 37, 64, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .con .container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .con .container .top li {
  height: 200px;
  width: 95px;
  border-radius: 50px;
}
body .con .container .middle li {
  font-size: 20px;
}
body .con .container .bottom li {
  height: 95px;
  width: 95px;
  border-radius: 50px;
}
body .con .footer {
  letter-spacing: 10px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .middle li {
    font-size: 15px !important;
  }
  .left {
    top: 0 !important;
    left: 25% !important;
  }
  .right {
    top: 0 !important;
    right: 25% !important;
  }
  .container {
    width: 90vw !important;
    height: 600px !important;
    margin: 0 auto;
  }
}
